<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>github</title>
</head>
<h1 align="center">github.cn</h1>

<form action="/Start_Here" method="POST">
    <div align="center" style="background-color:yellow;position:absolute;left:850px;top:200px">
        <font color="red">{{no}}</font>
        账号<input type="text" name="username"><br/>
        密码<input type="password" name="pw"><br/>
        <input type="submit" value="确认" style="background-color: blue;width: 50px;height: 30px;color: yellow"><br/>
        <input type="submit" value="注册" style="background-color: blue;width: 50px;height: 30px;color:black"><br/>
        {{msg}}
    </div>
</form>
<body background="https://www.linuxidc.com/upload/2016_02/160203134018101.jpg">
</body>
</html>
